<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th,
    td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: #003147;
        color: white;
    }
</style>
<main>
    <section>
        <div class="title">
            <h1>Inicio</h1>
        </div>
        <aside>
            <div>
                <h2>{{countA}}</h2>
                <p>Artículos</p>
            </div>
            <div>
                <h2>{{countC}}</h2>
                <p>Comentarios</p>
            </div>
            <div>
                <h2>{{countU}}</h2>
                <p>Usuarios</p>
            </div>
            <div>
                <h2>{{countV}}</h2>
                <p>Visitas</p>
            </div>
        </aside>

        <div class="numeritos">
            <div class="lastarticles">
                <h1>Últimos 5 Artículos</h1>
                <table>
                    <thead>
                        <tr>
                            <th>titulo</th>
                            <th>Autor</th>
                            <th>Comentarios</th>
                            <th>Visitas</th>
                            <th>Ver</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each lastpost}}
                        <tr>
                            <td>{{this.title}}</td>
                            <td>{{this.author}}</td>
                            <td>{{this.comment}}</td>
                            <td>{{this.views}}</td>
                            <td><a href="/home/{{this.id}}"><img src="/assets/img/view.png"></a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="lastarticles">
                <h1>Últimos 5 comentarios</h1>
                <table>
                    <thead>
                        <tr>
                            <th>Artículo</th>
                            <th>Autor</th>
                            <th>Comentario</th>
                            <th>Ver</th>
                        </tr>
                    </thead>

                    <tbody>
                        {{#each lastcoment}}
                        <tr>
                            <td>{{this.title}}</td>
                            <td>{{this.author}}</td>
                            <td>{{this.comment}}</td>
                            <td><a href="/home/{{this.id}}"><img src="/assets/img/view.png"></a></td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="title">
            <h1>Gráfico</h1>
        </div>
        <div class="box22">
            <div class="chartOne">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </section>
</main>
<script src="assets/js/admin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: [
                'Articulos',
                'Comentarios',
                'Usuarios'
            ],
            datasets: [{
                label: 'My First Dataset',
                data: [{{ countA }}, {{ countC }}, {{ countU }}],
    backgroundColor: [

        'rgb(54, 162, 235)',
        'rgb(55, 205, 86)',
        'rgb(915, 05, 86)'

    ],
        hoverOffset: 4
    }]
        }
    });

</script>