<main>
    <section>
        <div class="title">
            <h1>Articulos</h1>
        </div>
        <div class="table">
            <table id="myTable" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Comentarios</th>
                        <th>Visitas</th>
                        <th>Autor</th>
                        <th>Data</th>
                        <th>Ver</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each json}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td>{{this.comments}}</td>
                        <td>{{this.views}}</td>
                        <td>{{this.author}}</td>
                        <td>{{this.date}}</td>
                        <td class="btnTable"><a href="/home/{{this.id}}"><img src="assets/img/eye.png"></a></td>
                        <td class="btnTable"><a href="/articulos:{{this.id}}"><img src="assets/img/edit.png"></a></td>
                        <td class="btnTable"><a href="/articulos:{{this.id}}"><img src="assets/img/delete.png"></a></td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </section>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
<script>

    $(document).ready(function () {
        $('#myTable').DataTable({
            "order": [[4, "desc"]],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json"
            },
        });
    });
</script>
<script src="assets/js/admin.js"></script>